
# Environnement virtuel
F_detection_venv/
venv/
env/

# Données lourdes
dataset/
data/

# Modèles sauvegardés
models_saved/
yolo26n.pt
yolov8n-cls.pt
yolov8n.pt
runs/

# Python
*.pyo

# Fichiers compilés (STM32, C, C++)
*.o
*.elf
*.map
*.hex
*.bin
*.lst
*.crf
*.htm
*.dep

# Logs
*.log

# Fichiers temporaires
__pycache__/
*.pyc
.ipynb_checkpoints/
.claude/
.vscode/

# STM32 AI
st_ai_ws/build_rt_network/*.o
st_ai_ws/build_rt_network/*.elf
st_ai_ws/build_rt_network/*.map

# IDE
.idea/
*.swp

# Secrets
.env
credentials.json

# documents
README.md
# Secrets
.env
credentials.json

# documents
README1.md
RAPPORT_TRAVAIL.md
ADAPTIVE_LOSO_GUIDE.md

cuda_12.6.0_560.28.03_linux.run

training_curves/
reports/*.pt
*.onnx
*.pkl
*.bin
*.tflite
*.pb
runs/
ble.sh/
